<%- include('header') %>
    <h2>
        Editar Categoria:
        <a href="/admin/categorias">Categorias</a>
    </h2>
        <div>
            <form method="POST">
                <label>Nova categoria: </label>
                <input type="text" name="categoria" value="<%= categoria.categoria %>">
                <br>
                <button>Salvar categoria</button>
            </form>
        </div>
<%- include ('footer') %>