<%- include('header') %>
        <h2>Digital Marketing (San Francisco)</h2>
        <div>
            <h3>Engineering Team</h3>
            <ul>
                <li>Full Stack Developer (Remote)</li>
            </ul>
        </div>
        <div>
            <h3>Marketing Team</h3>
            <ul>
                <li><a href="vaga1"> Digital Marketing (San Francisco)</a></li>
            </ul>
        </div>
<%- include ('footer') %>